@import "tailwindcss";
@import "tw-animate-css";

@utility heading-2 {
  @apply font-semibold text-3xl leading-[48px];
}
@utility sub-heading {
  @apply font-medium text-2xl leading-[36px];
}
@utility heading-1 {
  @apply text-[40px] font-bold leading-[56px];
}
@utility card-shadow {
  box-shadow: 0px 2px 4px 0px rgba(23, 26, 31, 0.09);
}
@utility main-card {
  @apply border-[#F3F4F6] rounded-[10px] bg-white;
  box-shadow: 0px 8.5px 13.75px 0px rgba(23, 26, 31, 0.22);
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.08);
}
@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility custom-shadow {
  box-shadow: 0px 4px 7px 0px rgba(23, 26, 31, 0.13);
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.08);
}

a,
button {
  cursor: pointer;
}
